/* 
========================================================================================
This is the custom CSS style file mainly for the behavioral purposes
of the Web Application. 
(For Example: clicking the Mark As Favorite will change the background color of the div)
========================================================================================

*/

:root{
    /* Colors */
    --bg-color: #401F71;
    --primary: #6635B1;
    --secondary: #FFFFFF;
    --primary-content: #F78F4B;
    --secondary-content: #FDAF7B;
    --first-accent: #DAD9D9;
    --second-accent: #A1A1A1;
    --fill: #ffb1fb;
    --unfill: #fff3ac;
}

/* Strikethrough the Task when completed */
.text-strikethrough {
    text-decoration: line-through;
    color: hsl(0, 1%, 27%);
}
/* Fill the Div once it is marked as favorite */
.fill-div{
    background: var(--fill) !important;
}
/* For favorite */
.default{
    background: var(--unfill) !important;
}