/* 
========================================================================================

This is the custom CSS style file mainly for the Footer purposes
of the Web Application. 

[FAQS, ReportBug, Team, and Contact Us]
========================================================================================
*/


:root{
    /* Colors */
    --bg-color: #401F71;
    --primary: #6635B1;
    --secondary: #FFFFFF;
    --dark: #121212;
    --primary-content: #F78F4B;
    --secondary-content: #ffe682;
    --first-accent: #DAD9D9;
    --second-accent: #A1A1A1;
    --fill-second: #870680;
    --fill: #daa3ff;
}

/* FAQS Content */
    


/* Report Bug Content */

/* Contact Us Content */

/* Team Content */

