/* 
========================================================================================

This is the custom CSS style file mainly for the Footer purposes
of the Web Application. 

[FAQS, ReportBug, Team, and Contact Us]
========================================================================================
*/


:root{
    /* Colors */
    --bg-color: #401F71;
    --primary: #6635B1;
    --secondary: #FFFFFF;
    --dark: #121212;
    --primary-content: #F78F4B;
    --secondary-content: #ffe682;
    --first-accent: #DAD9D9;
    --second-accent: #A1A1A1;
    --fill-second: #870680;
    --fill: #daa3ff;
}

/* FAQS Content */
.accordion-button:hover, 
.accordion-button.active {
    background-color: var(--fill-second); 
    color: var(--secondary); 
}
.accordion-body {
    background-color: var(--fill-second); 
    color: var(--secondary); 
}

/* Link Styling */
.index {
    color: var(--secondary-content); /* Default link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
    transition: 0.3s; /* Smooth color transition */
}
.index:hover {
    color: var(--primary-content); /* Hover color */
    text-decoration: underline; /* Add underline on hover */
}
.index:active {
    color: var(--secondary); 
}

/* Contact Us Content */
.card-body h2 {
    color: var(--bg-color); 
}
.card-body a {
    color: var(--primary); 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.card-body a:hover {
    color: var(--primary-content); 
    text-decoration: underline; 
}

/* Team Content */
/* Report Bug Content */
.btn-warning:hover {
    transform: scale(1.07);
}


