/* press-start-2p-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* roboto-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --bg-color: #401F71;
    --primary: #6635B1;
    --secondary: #FFFFFF;
    --dark: #121212;
    --primary-content: #F78F4B;
    --secondary-content: #ffe682;
    --first-accent: #DAD9D9;
    --second-accent: #A1A1A1;
    --fill-second: #870680;
    --fill: #daa3ff;

    /* Fonts */
    --main-font: 'Press Start 2P';
    --content-font: 'Roboto Condensed';

    /* Font Sizes */
    --heading1: 1.7rem; 
    --heading2: 1.5rem; 
    --heading3: 1.345rem; 
    --heading4: 1.3rem; 
    --heading5: 1.24rem; 
    --heading6: 1.1rem; 
    --paragraph: 1rem;
    --small: 0.7rem;
    --accent-small: 0.6rem;
}


html {
    font-size: 1rem !important; /* Set base font size to 16px */
}

/* Header */
.navbar{
    background: var(--primary);
    font-family: var(--main-font);
    font-size: var(--small);
}



/* Default styling outside any custom wrapper */
h1{
    font-family: var(--main-font);
    font-size: var(--heading1);
}
h2{
    font-family: var(--main-font);
    font-size: var(--heading2);
}
h3{
    font-family: var(--content-font);
    font-size: var(--heading3);
}
h4{
    font-family: var(--content-font);
    font-size: var(--heading4);
}
h5{
    font-family: var(--content-font);
    font-size: var(--heading5);
}
h6{
    font-family: var(--content-font);
    font-size: var(--heading6);
}
p{
    font-family: var(--content-font);
    font-size: var(--paragraph);
}

span{
    font-family: var(--content-font);
    font-size: var(--small);
}

/* Content in home.blade.php */
main{
    font-family: var(--content-font);
}

.wrapper{
    background: var(--primary);
    color: var(--secondary);
}

.wrapper h1{
    font-family: var(--main-font);
    font-size: var(--heading1);
}
.wrapper h2{
    font-family: var(--main-font);
    font-size: var(--heading2);
}
.wrapper h3{
    font-size: var(--heading3);
    color: var(--dark);
}
.wrapper p{
    font-size: var(--paragraph);
    color: var(--dark);
}

/* Content in trash.blade.php */
.deleted-count-wrapper{
    background: var(--bg-color);
}
.deleted-count-wrapper span{
    font-family: var(--main-font);
    font-size: var(--heading3);
}
.img-wrapper{
    background: var(--primary);
}
.img-wrapper h3{
    font-family: var(--main-font);
    font-size: var(--heading3);
}

/* Content in help.blade.php */
.help-header-div{
    background: var(--bg-color);
}
.help-wrapper h3{
    font-family: var(--main-font);
    font-size: var(--heading3);
}

/* Content in Developer.blade.php */
.card-header, .list-header{
    background: var(--primary) !important;
}

/* Simple and Engaging Hover Style for Dropdown */
.dropdown button {
    transition: color 0.4s, background-color 0.4s;
}
.dropdown button:hover {
    color: var(--primary);
    background-color: #fbd040; /* Light background on hover */
}
.dropdown button:focus {
    color: var(--primary);
}
.dropdown-menu {
    background: var(--secondary) !important;
}

/* views/layout custom styling */
/* Modal Content Styling*/
.modal-header{
    background: var(--primary);
}
.modal-header h4{
    font-family: var(--main-font);
    font-size: var(--heading4);
}

.modal-body label{
    font-size: var(--heading5);
}

.modal-body input{
    font-size: var(--paragraph);
}
.modal-body textarea{
    font-size: var(--paragraph);
}

.modal-footer{
    background: var(--primary) !important;
}

.modal-footer .close{
    background: var(--bg-color);
    letter-spacing: 1px;
}
.modal-footer .close:hover{
    background: var(--second-accent);
}
.modal-footer .save{
    background: var(--primary-content);
    letter-spacing: 1px;
}
.modal-footer .save:hover{
    background: var(--secondary-content);
}

/* Main Footer Content */
.footer-section{
    background: linear-gradient(#401F71, #f39c12);
}
