/* press-start-2p-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* roboto-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --bg-color: #401F71;
    --primary: #6635B1;
    --secondary: #FFFFFF;
    --dark: #121212;
    --primary-content: #F78F4B;
    --secondary-content: #ffe682;
    --first-accent: #DAD9D9;
    --second-accent: #A1A1A1;
    --fill-second: #870680;
    --fill: #daa3ff;

    /* Fonts */
    --main-font: 'Press Start 2P';
    --content-font: 'Roboto Condensed';

    /* Font Sizes */
    --heading1: 1.7rem; 
    --heading2: 1.5rem; 
    --heading3: 1.345rem; 
    --heading4: 1.3rem; 
    --heading5: 1.24rem; 
    --heading6: 1.1rem; 
    --paragraph: 1rem;
    --small: 0.7rem;
    --accent-small: 0.6rem;
}


html {
    font-size: 1rem !important; /* Set base font size to 16px */
    margin: 0;
    padding: 0;
}

/* Header */
.navbar{
    font-family: var(--main-font);
    font-size: var(--small);
}

/* Default styling outside any custom wrapper */
h1{
    font-family: var(--main-font);
    font-size: var(--heading1);
}
h2{
    font-family: var(--main-font);
    font-size: var(--heading2);
}
h3{
    font-family: var(--content-font);
    font-size: var(--heading3);
}
h4{
    font-family: var(--content-font);
    font-size: var(--heading4);
}
h5{
    font-family: var(--content-font);
    font-size: var(--heading5);
}
h6{
    font-family: var(--content-font);
    font-size: var(--heading6);
}
p{
    font-family: var(--content-font);
    font-size: var(--paragraph);
}


body {
    height: auto;
    background-image:
    linear-gradient(to bottom, 
    rgba(64, 31, 113, 0.785), /* #401f71 */
    rgba(71, 35, 125, 0.9), /* #47237d */
    rgba(78, 39, 137, 0.9), /* #4e2789 *0.9
    rgba(85, 43, 149, 0.9), /* #552b95 */
    rgba(92, 47, 161, 0.9), /* #5c2fa1 */
    rgba(99, 46, 162, 0.9), /* #632ea2 */
    rgba(107, 45, 164, 0.9), /* #6b2da4 */
    rgba(114, 44, 165, 0.9), /* #722ca5 */
    rgba(121, 36, 156, 0.9), /* #79249c */
    rgba(127, 28, 146, 0.9), /* #7f1c92 */
    rgba(132, 19, 137, 0.9), /* #841389 */
    rgba(135, 6, 128, 1)   /* #870680 */),
    url('../images/bg-1.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: multiply;
    overflow-x: hidden;
}


/* Navbar */
.navbar .nav-link:hover{
    color: #ffc107 !important;
}

/* Button */
.main-button {
    cursor: pointer;
    font-size: var(--paragraph);
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--dark);
    background-color: var(--secondary);
    padding: 0.8em 2.2em;
    border-radius: 50em;
    border: 6px solid var(--fill);
    box-shadow: 0px 8px var(--fill-second);
  }
.main-button:active {
    position: relative;
    top: 8px;
    color: var(--dark);
    border: 6px solid var(--primary-content);
    background-color: var(--secondary-content);
    box-shadow: 0px 0px;
}

.objective-section{
    background: var(--bg-color);
    padding-bottom: 10rem;
    margin-top: 10rem;
}

marquee{
    width: 100%;
    height: 100px;
    background: var(--primary-content);
}
marquee span{
    font-size: var(--heading1);
    font-family: var(--main-font);
}

/* Main Footer Content */
.footer-section{
    background: var(--primary);
}

/* Mobile Devices */
@media only screen and (max-width: 767px){
    .main-section h1{
        font-size: clamp(1rem, -0.5003rem + 9.3878vw, 3rem);
    }
}

/* Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

