body {
    font-family: 'Press Start 2P', cursive;
    background-color: #F0F0F0; /* White space dominant */
    color: #333333; /* Dark text for readability */
    margin: 0;
    padding: 0;
}

.pixel-text {
    text-shadow: 2px 2px 0px #000;
}

/* Header */
header {
    background-color: #6a0dad; /* Purple background */
    color: white;
}

header h1 {
    font-size: 3rem;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    margin: 0;
}

.category-btn {
    color: #f0f0f0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #8a2be2; /* Purple button */
    border: 2px solid #8a2be2;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-btn:hover, .category-btn.active {
    background-color: #6a0dad; /* Darker purple on hover */
    color: #ffffff;
}

/* Main Content */
main {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Guide Section */
.guide-section {
    display: none;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 2px solid #6a0dad; /* Purple border */
    border-radius: 0.5rem;
}

.guide-section.active {
    display: block;
}

h2 {
    color: #8a2be2; /* Lighter purple color */
    font-size: 1.8rem;
    margin-top: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide-image {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}


/* Mobile Adjustments */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
